.container {
    display: grid;
    grid-template-columns: [first] 16% [line2] 16% [line3] 16% [line4] 16% [line5] 16% [line6] 16%;
    grid-template-rows: [row1-start] 300px [row1-end] 300px [third-line] 300px [last-line];
    gap: 0.6rem;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-style: solid;
    border-color: black;
    text-align: center;
    z-index: 2;
    background-color: white;
  }

  .item2 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
    border-style: solid;
    border-color: black;
    text-align: center;
    z-index: 1;
    background-color: white;
  }

  .item3 {
    grid-column-start: 5;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: white;
  }

  .item4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-style: solid;
    border-color: black;
    text-align: center;
    z-index: 2;
    background-color: white;
  }

  .item5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: span 1;
    border-style: solid;
    border-color: black;
    text-align: center;
    z-index: 1;
    background-color: white;
  }

  .item6 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: span 1;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: white;
  }

  body {
    font-size: 1.3rem;
    height: 100vh;
    background-image: url("../images/B.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  p {
    display: block;
    background-color: yellow;
    border-style: solid;
    width: fit-content;
  }
